<!-- TOOLBAR -->
<app-toolbar
  [sidenav]="sidenav"
></app-toolbar>

<mat-sidenav-container
  class="example-container" (backdropClick)="close('backdrop')">

  <!-- SIDEBAR -->
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-nav-list class="nav-list">
      <a mat-list-item  [routerLink]="['/dashboard',link.path]" class="mb-3" *ngFor="let link of links">{{ link.titulo }}</a>
      <a mat-list-item class="mt-auto" (click)="logOut()">
        Log Out
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!--  PAGINAS -->
  <main>
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>
