<!-- TOOLBAR -->
<app-toolbar
  [sidenav]="sidenav"
></app-toolbar>

<mat-sidenav-container
  class="example-container" (backdropClick)="close('backdrop')">

  <!-- SIDEBAR -->
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-nav-list>
      <p>
      <button mat-button  [routerLink]="link.path" class="m-3" *ngFor="let link of links">{{ link.titulo }}</button>
      </p>
    </mat-nav-list>
  </mat-sidenav>

  <!--  PAGINAS -->
  <main>
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>
